{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}


<div style="
    min-height: 50vh;
    display: flex;
    justify-content: center;   /* по оси X */
    align-items: flex-start;   /* прижать к верху */
    padding-top: 30vh;         /* 15% от высоты окна */
" >

<div class="container section-title" data-aos="fade-up">
        <span class="subtitle">Contact success</span>
        
        <p>Thank you for contacting us.
W'll be in touch with you soon.</p>
      </div>


</div>

{% endblock content %}